* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/********** variables ***********/

/* primary colors */
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

/* neutral colors */
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}

/* start */

.start-container {
  width: 100%;
  color: $very-dark-blue;
  margin-top: 80px;
  font-size: 1.15rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    color: black;
    letter-spacing: 0.05rem;
  }

  p {
    color: $grayish-blue;
    margin-top: 20px;
    font-size: 1rem;
    width: 27%;
    text-align: center;
  }
}

/* cards */

main {
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: grid;
  grid-template-areas:
    "sp tb cc"
    "sp km cc";
  width: 100%;
  margin: 30px;

  .card {
    background-color: #fff;
    // padding-left: 10px;
    border-radius: 10px;
    // width: 350px;
    // height: 250px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 30px rgba(131, 166, 210, 0.5);

    .top-color {
      position: relative;
      border-radius: 10px 10px 0 0;
      background-color: black;
      height: 5px;
      width: 100%;
    }

    .card-title {
      text-align: left;
      color: $very-dark-blue;
      font-weight: bold;
      padding: 23px 0 0 20px;
      font-size: 1.5rem;
    }

    .card-description {
      color: $grayish-blue;
      font-size: 13px;
      text-align: left;
      padding: 10px 0 0 20px;
    }

    .card-img {
      width: 15%;
      position: relative;
      bottom: -60px;
      right: -110px;
    }
  }
}

#supervisor {
  grid-area: sp;
  .top-color {
    background-color: $cyan;
  }
}

#team-builder {
  grid-area: tb;
  .top-color {
    background-color: $red;
  }
}

#karma {
  grid-area: km;
  .top-color {
    background-color: $orange;
  }
}

#calculator {
  grid-area: cc;
  .top-color {
    background-color: $blue;
  }
}

/* Media queries */

@media screen and (min-width: 375px) and (max-width: 768px) {
  .start-container {
    font-size: 0.75rem;
    margin-bottom: 20px;
    p {
      font-size: 1rem;
      width: 85%;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card {
      width: 311px;
      height: 222px;
      .card-img {
        width: 18%;
        bottom: -30px;
        right: -90px;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  main {
    .card {
      width: 350px;
      height: 250px;
    }
  }
}
