* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/********** variables ***********/
/* primary colors */
/* neutral colors */
body {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 15px;
}

/* start */
.start-container {
  width: 100%;
  color: #4c4e61;
  margin-top: 80px;
  font-size: 1.15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start-container span {
  color: black;
  letter-spacing: 0.05rem;
}

.start-container p {
  color: #a3a5ae;
  margin-top: 20px;
  font-size: 1rem;
  width: 27%;
  text-align: center;
}

/* cards */
main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "sp tb cc" "sp km cc";
  width: 100%;
  margin: 30px;
}

main .card {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 30px rgba(131, 166, 210, 0.5);
          box-shadow: 0px 10px 30px rgba(131, 166, 210, 0.5);
}

main .card .top-color {
  position: relative;
  border-radius: 10px 10px 0 0;
  background-color: black;
  height: 5px;
  width: 100%;
}

main .card .card-title {
  text-align: left;
  color: #4c4e61;
  font-weight: bold;
  padding: 23px 0 0 20px;
  font-size: 1.5rem;
}

main .card .card-description {
  color: #a3a5ae;
  font-size: 13px;
  text-align: left;
  padding: 10px 0 0 20px;
}

main .card .card-img {
  width: 15%;
  position: relative;
  bottom: -60px;
  right: -110px;
}

#supervisor {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sp;
}

#supervisor .top-color {
  background-color: #45d3d3;
}

#team-builder {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tb;
}

#team-builder .top-color {
  background-color: #ea5353;
}

#karma {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: km;
}

#karma .top-color {
  background-color: #fcaf4a;
}

#calculator {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: cc;
}

#calculator .top-color {
  background-color: #549ef2;
}

/* Media queries */
@media screen and (min-width: 375px) and (max-width: 768px) {
  .start-container {
    font-size: 0.75rem;
    margin-bottom: 20px;
  }
  .start-container p {
    font-size: 1rem;
    width: 85%;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .card {
    width: 311px;
    height: 222px;
  }
  main .card .card-img {
    width: 18%;
    bottom: -30px;
    right: -90px;
  }
}

@media screen and (min-width: 800px) {
  main .card {
    width: 350px;
    height: 250px;
  }
}
/*# sourceMappingURL=index.css.map */